* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: normal;
}

.page {
    display: flex;
    flex-direction: column;

    .example-header {
        box-shadow: 0 2px 8px #f0f1f2;
        margin-bottom: 4px;

        .logo {
            padding: 0 20px;
            font-weight: bold;

            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }

            .rightIcon {
                float: right;
                margin-top: 7px;
            }
        }
    }

    .page-contain {
        .example-aside {
            width: 300px;
            min-height: 90vh;
            overflow-y: auto;
            box-sizing: border-box;
            border-right: 1px solid #CCCCCC;

            .site-menu-group-title {
                padding: 0 16px 0 40px;
                margin-top: 16px;
                margin-bottom: 16px;

                &::after {
                    position: relative;
                    top: 12px;
                    display: block;
                    width: calc(100% - 20px);
                    height: 1px;
                    background: #f0f0f0;
                    content: '';
                }
            }

            ul>li {
                color: inherit;
                margin: 4px 0 8px 0;

                a {
                    color: rgba(0,0,0,.85);
                    display: block;
                    text-decoration: none;
                    padding: 8px 16px 8px 40px;

                    &.active {
                        border-right: 2px solid red;
                        background-color: #e6f7ff;
                    }

                    &:hover {
                        color: #1890ff;
                    }
                }

            }
        }

        .example-content {
            width: 100%;
            padding: 0 48px;
            flex-direction: column;
            max-height: 90vh;
            overflow-y: auto;
        }
    }

    .example-footer {
        height: 100px;
    }
}